@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: auto;
	width: auto;
	position: relative;
	color: black;
	background-color: transparent;
	font-family: 'Work Sans', sans-serif;
	user-select: none;
}

::-webkit-scrollbar {
	height: 5px;
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 5px;
	backdrop-filter: blur(10px);
}

::-webkit-scrollbar-thumb:hover {
	background-color: #555;
	height: 7px;
	width: 7px;
}

.grid-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
